<div class="all-items">
  <div class="column text-center">
    <%= form_tag("/items", method: "get") do %>
      <%= label_tag(:search, "Search for:") %>
      <%= text_field_tag(:search) %>
      <%= submit_tag("Search") %>
    <% end %>

    <%@items.each do |a| %>
      <div class="col-sm-3 col-md-4">
        <div class="thumbnail">
          <% if a.image? %>
            <%= image_tag a.image, class: "img-settings img-responsive center-block" %>
          <% else %>
            <img src="..." alt="...">
          <% end %>
          <div class="caption">
            <h3><%=link_to a.name, item_path(a.id)%></h3>
            <p><%=a.description%></p>
            <h5><b>RM<%=sprintf('%.2f', a.price)%></b></h5>
            <p><%=link_to fa_icon("shopping-cart 1x"), add_path(item_id: a.id, cart:{quantity: 1}), method: :post, class: "btn btn-default" %>
              <a href="<%=item_path(a.id)%>" class="btn btn-primary" role="button">View</a> </p>
          </div>
        </div>

      </div>

    <%end%>
  </div>
</div>
