<%= form_tag("/items", method: "get", remote: true, class: "search-bar text-center") do %>
  <%= label_tag(:search, "Search for:") %>
  <%= text_field_tag(:search) %>
  <div class="dropdown">
    <button id="Categories_dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Category
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="Categories_dropdown">
      <li><%= check_box_tag(:'category[]', "T-Shirt") %>
      <%= label_tag("T-Shirt") %></li>
      <li role="separator" class="divider"></li>
      <li><%= check_box_tag(:'category[]', "Jacket") %>
      <%= label_tag("Jacket") %></li>
      <li role="separator" class="divider"></li>
      <li><%= check_box_tag(:'category[]', "Cap") %>
      <%= label_tag("Cap") %></li>
    </ul>
  </div>
  <%= submit_tag("Search") %>
<% end %>

<div class="all-items">
  <%= render partial: "items", locals: { items: @items } %>
</div>
