
<div class="all-items">

<div class="column text-center">
<%@items.each do |a| %>

  <div class="col-sm-3 col-md-4">
    <div class="thumbnail">
      <img src="http://placehold.it/360x220" alt="">
      <div class="caption">
        <h3><%=link_to a.name, item_path(a.id)%></h3>
        <p><%=a.description%></p>
        <h5><b>RM<%=sprintf('%.2f', a.price)%></b></h5>

          <%=link_to fa_icon("shopping-cart 1x"), add_path(item_id: a.id, cart:{quantity: 1}), method: :post, class: "btn btn-default" %>
          <a href="<%=item_path(a.id)%>" class="btn btn-primary" role="button">View</a> </p>
      </div>
    </div>
  </div>

<%end%>
</div>
</div>
